doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(href="/stylesheets/bootstrap.min.css" rel="stylesheet")
    link(href="/stylesheets/style.css" rel="stylesheet")
  body
    header
      // Fixed navbar
      nav.navbar.navbar-expand-md.navbar-dark.bg-dark
        a.navbar-brand(href="#") NodeAuth
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarCollapse.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item(class=(title=='Members' ? 'active' : ''))
              a.nav-link(href="/")
                | Members
            li.nav-item(class=(title=='Register' ? 'active' : ''))
              a.nav-link(href="/users/register") Register
            li.nav-item(class=(title=='Login' ? 'active' : ''))
              a.nav-link(href="/users/login") Login
          ul.navbar-nav.navbar-right
            li.nav-item
              a.nav-link(href="/users/logout") Logout
    // Begin page content
    main.container(role="main")
      .container
        !=messages()
        block content
    footer.footer
      .container
        //span.text-muted Place sticky footer content here.
    //Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src="/javascripts/jquery-3.4.1.min.js" crossorigin="anonymous")
    script(src="/javascripts/popper.min.js")
    script(src="/javascripts/bootstrap.min.js")
